* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding: 50px;
    font-family: "Delius", cursive;
    font-weight: bolder;
    font-style: normal;
    font-size: 40px;
}

p {
    padding: 50px;
    font-size: 30px;
    font-weight: bolder;
    text-shadow: white 3px 2px 2px;
    color: black;
}

.fotos img {
    padding: 10px;
}

.fotos2 {
    padding: 10px;
}

h5 {
    font-size: 25px;
    padding-left: 20px;
}
.fotos3 {
    margin-bottom: 50px;
}